
/*CSS PARA EL CONTENEDOR DE LA ESCENA*/


*{
    font-family: 'Maven Pro', sans-serif !important;
    text-decoration: none;
}



body{
    margin: 0;
    overflow: hidden; 
}

#menu-principal{
    position:absolute; 
    left:2.5%; 
    top:10px;

    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;  
    margin-top: 30px;
    width: 20%;
}

.titulo{
    font-weight: bold;
    color: firebrick;
}

.elementos-escena{
    text-align: left;
}

.btn-categoria{
    width: 100%;
}

.grupo-elementos{
    display: block;
    margin-top: 10px;
}

.elemento{
    width: 90%;
    margin-top: 5px;
    padding-bottom: 1px !important;
    padding-top: 1px !important;
}

.agrupacion-categoria{
    margin-bottom: 10px;
}

.btn{
    text-align: left !important;
}


/*DIV DE AYUDA*/
#div-ayuda{
    position:absolute; 
    left:23%; 
    top:10px;

    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;  
    margin-top: 30px;
    width: 20%;
    display: none;
}

.ayuda{
    display: inline;
}

.cerrar-ayuda{
    font-size: 20px;
    border-radius: 50px;
    width: 30px;
    text-align: center;
    height: 30px;
    background-color: red;
}

.cerrar-ayuda:hover{
    cursor: pointer;
}

.titulo-ayuda{
    font-weight: bold;
    color: firebrick;
}